@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/Satoshi-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }

  :root {
    /* colors */

    /* main colors */
    --clr-white: #eaeaea;
    --clr-bgColor: #111111;
    --clr-black-800: #1f2021;
    --clr-darkgray: #262626;
    --clr-lightgray: #61666b;
    --clr-gray: #4c4f53;
    --clr-gray-50: rgba(82, 90, 101, 0.3);

    /* hover colors */
    --clr-tw: #50b8d2;
    --clr-linkedin: #2d56ad;
    --clr-linkedin-dark: #1c3a7b;
    --clr-insta: linear-gradient(135deg, #c0b22f 0%, #ad2d76 50%, #4d2dad 100%);

    /* skills color */
    --clr-purple: #8830d0;
    --clr-purple-30: rgba(63, 7, 108, 0.3);
    --clr-blue: #307dd0;
    --clr-blue-30: rgba(7, 66, 108, 0.3);
    --clr-aqua: #30d0b5;
    --clr-aqua-30: rgba(7, 108, 93, 0.3);
    --clr-red: #d03030;
    --clr-red-30: rgba(108, 7, 7, 0.3);
    --clr-yellow: #d0c530;
    --clr-yellow-30: rgba(108, 98, 7, 0.3);
    --clr-pink: #d030a5;
    --clr-pink-30: rgba(108, 7, 73, 0.3);
    --clr-green: #16751c;
    --clr-green-30: rgba(7, 108, 14, 0.3);

    /* fonts */
    --ff-satoshi: "Satoshi", system-ui, sans-serif;
    --ff-eb-garamond: "EB Garamond", system-ui, serif;

    /* font sizes */
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-25: 1.5625rem;
    --fs-26: 1.625rem;
    --fs-30: 1.875rem;

    /* font weights */
    --fw-m: 500;
    --fw-b: 700;
    --fw-bl: 900;

    /* line heights */
    --lh-1: 1;
    --lh-1-2: 1.2;
    --lh-1-5: 1.5;

    /* spacing */
    --sp-4: 0.25rem;
    --sp-6: 0.375rem;
    --sp-7: 0.4375rem;
    --sp-8: 0.5rem;
    --sp-10: 0.625rem;
    --sp-14: 0.875rem;
    --sp-15: 0.9375rem;
    --sp-16: 1rem;
    --sp-20: 1.25rem;
    --sp-25: 1.5625rem;
    --sp-30: 1.875rem;
    --sp-40: 2.5rem;
    --sp-100: 6.25rem;
  }

  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  html {
    font-size: 20px;
    font-family: "Satoshi", system-ui, sans-serif;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
      scroll-behavior: smooth;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    padding: 0px 16px;
    background-color: var(--clr-bgColor);
    color: var(--clr-white);
  }

  @media (min-width: 72rem) {
    body {
      padding: 0;
    }
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
    line-height: var(--lh-1-73);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
