@layer components;

.about-me-section {
  margin-bottom: 6.25rem;
}

@media (max-width: 768px) {
  .about-me-section {
    margin-bottom: 3rem;
  }
}

.about-me-section h1 {
  font-size: var(--fs-26);
  font-family: var(--ff-eb-garamond);
  font-weight: var(--fw-bl);
  color: var(--clr-white);
  font-style: italic;
  padding-bottom: var(--sp-20);
}

@media (max-width: 768px) {
  .about-me-section h1 {
    font-size: var(--fs-22);
    padding-bottom: var(--sp-10);
  }
}

.about-me-section p {
  font-size: var(--fs-14);
  font-family: var(--ff-satoshi);
  font-weight: var(--fw-m);
  color: var(--clr-lightgray);
  line-height: var(--lh-1-5);
}
.about-me-section p span {
  color: var(--clr-white);
  font-weight: var(--fw-b);
}
