@layer components;

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp-30);
}

.project-section h1 {
  font-size: var(--fs-26);
  font-family: var(--ff-eb-garamond);
  font-weight: var(--fw-bl);
  color: var(--clr-white);
  font-style: italic;
  padding-bottom: var(--sp-20);
}
.project-card {
  width: 100%;
  max-width: 896px;
  height: 504px;
  padding: 15px;
  border: 2px solid var(--clr-darkgray);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 768px) {
  .project-card {
    height: auto;
    aspect-ratio: 16 / 9;
    padding: 10px;
  }
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: filter 0.3s ease;
}
.project-title {
  font-size: var(--fs-22);
  font-family: var(--ff-eb-garamond);
  font-weight: var(--fw-bl);
  color: var(--clr-white);
  margin-bottom: var(--sp-10);
  text-align: center;
}

@media (max-width: 768px) {
  .project-title {
    font-size: var(--fs-18);
    margin-bottom: var(--sp-6);
  }
}

.project-description {
  font-size: var(--fs-16);
  font-family: var(--ff-satoshi);
  font-weight: var(--fw-r);
  color: var(--clr-lightgray);
  margin-bottom: var(--sp-20);
  text-align: center;
}

@media (max-width: 768px) {
  .project-description {
    font-size: var(--fs-12);
    margin-bottom: var(--sp-10);
    padding: 0 10px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.project-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  pointer-events: all;
}

.buttons-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  background: none;
  border: none;
  color: white;
  background-color: var(--clr-black-800);
  padding: var(--sp-6) var(--sp-20);
  border-radius: 10px;
  font-size: var(--fs-20);
  font-family: var(--ff-eb-garamond);
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

@media (max-width: 768px) {
  .btn {
    padding: var(--sp-4) var(--sp-14);
    font-size: var(--fs-16);
  }
}

.btn:hover {
  background-color: var(--clr-bgColor);
  opacity: 1;
  pointer-events: all;
}

.tags-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tags-container .tag {
  background-color: var(--clr-bgColor);
  color: var(--clr-lightgray);
  padding: var(--sp-6) var(--sp-16);
  border-radius: 10px;
  font-size: var(--fs-12);
  font-weight: var(--fw-b);
}

@media (max-width: 768px) {
  .tags-container .tag {
    padding: var(--sp-4) var(--sp-10);
    font-size: 10px;
  }
}
